<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="title-icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Order Status</button>
      <button mat-menu-item>About Us</button>
      <button mat-menu-item>Review</button>
    </mat-menu>
    <span class="title-spacer"></span>
    <span><h1>Larsan Catering Services</h1></span>
    <span class="title-spacer"></span>
    <button mat-icon-button  class="title-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div  [ngClass] ="{'shake': shakeIt}">
      <button mat-icon-button class="title-icon" (click)="openOrderReviewDialog()">
        <mat-icon>shopping_cart</mat-icon>
        <div class="dot"></div>
        <span class="dotLabel">{{noOfItems}}</span>
      </button>
    </div>
  </mat-toolbar>
</p>
