.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.checkOutStepper {
  margin-top: 5%;
}

.order-dialog-title{
  display: flex;
  justify-content: space-between
}

.dialog{
  height: 80vh;
  width: 80vw;
}

.itemImage{
  width: 4rem;
  height: 3rem;
  object-fit: cover;
}

.itemCard{
  background: #eee;
  width: 90%;
  height: 5rem;
  margin: 1rem;
}

.cardContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.itemCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.itemDescription{
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkOutButton{
  margin: 1rem;
  left: 35vw;
}

.itemLabel{
  width: 50%;
}

.userInfoGrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  margin-left: 29%;
  margin-top: 7rem;
}

.userField{
  margin: 1rem;
}

.nxtBtn{
  width: 12rem;
  margin-top: 5rem;
  height: 3rem;
  margin-left: 46vw;
}
