<mat-toolbar color="primary" class="order-dialog-title">
  <span><h1>Review Order</h1></span>
  <button mat-icon-button class="close-icon" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-card *ngFor="let foodItem of orderItems.items" class="itemCard">
  <mat-card-content class="cardContent">
    <div class="itemDescription">
      <img class="itemImage" src="{{ foodItem.imageLocation }}" />
      <div class="itemLabel">{{ foodItem.name }}</div>
      <div class="itemPrice">${{ foodItem.price }}</div>
      <div>X{{ foodItem.quantity }}</div>
    </div>
    <div>
      <button mat-icon-button (click)="removeFoodItem(foodItem.id)" class="card-icon">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="addFoodItem(foodItem)" class="card-icon">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>

<button
  *ngIf="orderItems.items.length > 0; else sadMsg"
  mat-raised-button (click)="routeToCheckoutPage()"
  color="primary"
  class="checkOutButton"
>
  Check out
</button>
<ng-template #sadMsg> Ohh... cart looks empty.. </ng-template>
